canvas { 
  display: block; 
  outline: 1px; 
  margin-bottom: 2em; 
}

.page-header {
  border-bottom: 1px solid #000;
  margin: 0px 25px 0px 25px;
}

.page-header h1 {
  padding: 50px auto auto 0px;
}

.container {
  padding-left: 100px;
}

.container small {
  margin-left: 2em;
}


